/* OUR FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Montserrat:wght@300;400&family=Playfair+Display:wght@500;600;700;800&display=swap');

/* VARIABLES */
:root {
    --primary: #002857;
    --accents: #6395d7d3;
    --accentsDark: #019D2D;
    --gray: #C3C1C0;
    --white: #FFFAF4;
    --black: #000000;
    --text: #18191F;
    --burger: #548154;
    --headingsFont: 'Playfair Display', serif;
    --bodyFonts: 'Montserrat', sans-serif;
    --transitions: .4s linear;
    --fontSize: 18px;
    --lineHeight: 32px;
}

html {
    scroll-behavior: smooth;
}

/* BASIC STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--bodyFonts);
    font-weight: 400;
    font-size: var(--fontSize);
    background: var(--white);
    color: var(--text);
}

.container {
    width: 80%;
    margin: auto;
}

.btn {
    padding: 15px 25px;
    background-color: var(--accentsDark);
    border-radius: 25px;
    color: var(--white);
    text-decoration: none;
}

.btn:hover {
    background-color: var(--primary);
    color: var(--white);
    transition: var(--transitions);
    border: none;
}

img {
    max-width: 100%;
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--primary);
}

.hr {
    width: 90%;
    height: 3px;
    background-color: var(--primary);
    margin: auto;
    margin-bottom: 25px;
    border-radius: 25px;
}


/* ******************
Sticky navBar 
******************** */

.headerNav.sticky {
    background-color: var(--primary);
    transition: .4s ease-in-out;
    opacity: 0.9;
}

.headerNav.sticky ul li a {
    color: var(--white);
}

.headerNav.sticky ul li a:hover {
    color: var(--accentsDark);
}

.headerNav.sticky .icons a i {
    color: var(--white);
}

.headerNav.sticky .icons a i:hover {
    color: var(--accentsDark);
}


/* Header and NavBar */
.burger {
    display: none;
}

.headerNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.headerNav img {
    width: 90px;
    flex: 0 0 25%;
}

.headerNav ul {
    display: flex;
    justify-content: space-around;
    flex: 0 0 50%;
    list-style: none;
}


.headerNav a {
    color: var(--primary);
    text-decoration: none;
    font-weight: 800;
}

.headerNav ul a:hover {
    color: var(--accentsDark);
    transition: var(--transitions);
}


.headerNav i {
    color: var(--primary);
    font-size: 32px;
    margin-left: 30px;
}


.headerNav i:hover {
    color: var(--white);
    transition: var(--transitions);
}

.input {
    position: absolute;
    top: 30%;
}

header {
    background-image: url(./img/header1.jpg);
    height: 100vh;
    position: relative;

}

header article {
    display: flex;
    justify-content: space-between;
}


header article div:first-child {
    display: flex;
    flex-direction: column;
    align-items: start;

}


header article div:first-child h1 {
    font-size: 80px;
    color: var(--primary);
    text-shadow: 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 0;
    font-weight: bold;
}

header article div:first-child h1 span {
    color: var(--accentsDark);
    text-shadow: 1px 5px rgba(0, 0, 0, 0.3);
    font-size: 90px;
    display: block;
    padding: 10px 0;

}

header article div:last-child {
    flex: 35%;
}

/* Widget */

.app-wrap {
    position: absolute;
    bottom: 25%;
    left: 75%;
}

.header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    color: var(--primary);
    border-radius: 15px 0 15px 0;
    border-bottom: 3px solid var(--accentsDark);

    font-size: 22px;
    font-weight: 400;
    transition: var(--transitions);
}

.header input:focus {
    background-color: rgba(255, 255, 255, 0.7);
}

.location .city {
    color: var(--primary);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 5px;
    padding-top: 15px;
}

.location .date {
    color: var(--primary);
    font-size: 16px;
    font-weight: 600;
}

.current .temp {
    color: var(--white);
    font-size: 98px;
    font-weight: 800;
    text-shadow: 2px 7px rgba(0, 0, 0, 0.4);
}

.current .weather {
    color: var(--white);
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.3);
}

.current .hi-low {
    color: var(--white);
    font-size: 24px;
    font-weight: 300;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.3);
}

/* cards */
.activeTrades {
    padding: 80px 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.activeTrades h2 {
    padding-bottom: 40px;
    font-size: 42px;
}

.cards div {
    width: calc(25% - 15px);
    text-align: center;
    padding: 60px 20px;
}

.cards div img {
    width: 60px;
    margin-bottom: 20px;
}

.cards .btn {
    margin-bottom: 35px;
}

.cards div h3 {
    font-style: italic;
    margin-bottom: 15px;
}

.activeTrades {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* IMAGE slider */
.carousel {
    width: 77vw;
    height: 80vh;
    margin: auto;
}

.carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: var(--transitions);
    transition-delay: 200ms;
}

.slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: 12px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.next {
    right: 16px;
    border: none;
}

.customSlider {
    position: relative;
    padding: 50px 0;
}


.customSlider h2 {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 2;
    color: var(--white);
    text-shadow: 2px 4px rgba(12, 12, 12, 0.4);
    font-size: 56px;

}


/* Our awards */
.ourAwards {
    background-image: url(./img/bcgr.png);
    background-size: cover;
    border-bottom: 1px solid var(--primary);
}

.ourAwards h2,
p {
    text-align: center;
}

.ourAwards h2 {
    font-size: 36px;
    color: var(--primary);
    padding-top: 60px;
}

.awards {
    padding: 100px 10px;
}

.ourAwards p:last-child {
    padding: 55px 35px;
    text-align: center;
    font-size: 22px;
    color: var(--primary);
    font-style: italic;
}


.awards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* Contact Form */
.logoContact img {
    border-radius: 70px 0 70px 0;
    opacity: 0.7;
}

.form {
    padding: 80px 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2)), url(./img/bcgr.png);
    background-size: cover;
}

.form img {
    width: 550px;
}

.form form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    padding-top: 15px;
}

.form h2 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

form input:last-child {
    width: 120px;
    margin: auto;
    border: none;
    margin-top: 25px;
}

.ourForm {
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 15px 0 15px 0;
    border: none;
    outline: none;
    border-bottom: 3px solid var(--primary);
    background: rgba(255, 255, 255, 0.5);
}

.ourForm:focus {
    background: rgba(255, 255, 255, 0.9);
}

.ourForm::placeholder {
    color: var(--primary);
}

.form article {
    display: flex;
    padding-top: 30px;
}

.form article div {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form article div img {
    width: 90%;
}

.form article form {
    flex: 0 0 40%;
}

/* footer */

.social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 40px;
    color: var(--white);
    font-size: 24px;
}

.social a:hover {
    background-color: var(--white);
    color: var(--primary);
    transition: .3s ease-out;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer p {
    text-align: start;
}


.footer article:first-child img {
    width: 220px;
    opacity: 0.5;
}

.footer article:first-child ul {
    list-style: none;
    text-transform: uppercase;
}

.footer article:first-child ul li {
    margin-bottom: 30px;
}

.footer article:first-child ul li a {
    color: var(--white);
    text-decoration: none;
}

.footer article:first-child ul li a:hover {
    color: var(--accentsDark);
    transition: var(--transitions);
}

.footer article:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.footer article:first-child img {
    width: 200px;
    margin-right: 40px;
}

footer {
    flex-wrap: wrap;
    background-image: url(./img/header2.jpg);
    padding: 80px 20px;
    border-top: 3px solid var(--accentsDark);
}

.findUs {
    display: flex;
    width: 70%;
}

.findUs img {
    width: 70px;
    padding-bottom: 15px;
}

.findUs h5 {
    color: var(--white);
}

.findUs div p {
    padding: 5px 0;
    font-size: 14px;
    color: var(--white);
}

.findUs div a {
    color: var(--accentsDark);
}

.findUs div a:hover {
    color: var(--gray);
    transition: var(--transitions);
}

/* Up to top */
.to-top {
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--white);
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: var(--transitions);
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    z-index: 98;
}

.to-top.active i:hover {
    color: var(--accentsDark);
    transition: var(--transitions);
}

/* Responsive 1400px */
@media screen and (max-width: 1400px) {
    .app-wrap {
        bottom: 30%;
        right: 5%;
    }

    header article div:first-child h1 {
        font-size: 50px;
    }

    header article div:first-child h1 span {
        font-size: 70px;

    }
}



/* Responsive  992px */
@media screen and (max-width: 992px) {

    /* header */
    header article div:first-child h1 {
        font-size: 50px;
    }

    header article div:first-child h1 span {
        font-size: 75px;

    }

    .input {
        top: 25%;
    }

    /* widget */
    .app-wrap {
        bottom: 10%;
        left: 50%;
    }

    .header input {
        width: 90%;
        font-size: 20px;
    }

    .current .temp {
        font-size: 80px;

    }

    .current .weather {
        font-size: 30px;
    }

    .current .hi-low {
        font-size: 22px;
    }

    /* footer */
    .findUs {
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;

    }

    .findUs div {
        width: 40%;
    }

    .footer article:first-child {
        flex-direction: column;
    }
}

/* Responsive  768px */
@media screen and (max-width: 768px) {

    /* global */
    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    /* navBar */
    .headerNav a {
        font-size: 16px;
        font-weight: 700;
    }

    .headerNav i {
        color: var(--primary);
        font-size: 26px;
        margin-left: 24px;
    }

    .icons {
        margin-right: 25px;
    }

    .headerNav img {
        width: 70px;
    }

    /* header */
    header article div:first-child h1 {
        font-size: 50px;
    }

    header article div:first-child h1 span {
        font-size: 80px;
    }

    /* widget */
    .app-wrap {
        bottom: 12%;
        left: 55%;
    }

    .input {
        top: 20%;
    }

    .header input {
        width: 80%;
        font-size: 18px;
        padding: 8px 13px;
    }

    .current .temp {
        font-size: 78px;

    }

    .current .weather {
        font-size: 28px;
    }

    .current .hi-low {
        font-size: 20px;
    }

    /* btn */
    .btn {
        padding: 12px 22px;
        background-color: var(--accentsDark);
        border-radius: 22px;
        font-size: 16px;
    }

    /* cards */

    .cards div img {
        width: 45px;
        margin-bottom: 15px;
    }

    .cards div h3 {
        margin-bottom: 10px;
    }


    /* gallery */
    .customSlider h2 {
        font-size: 32px;
    }

    /* our awards */
    .awards div {
        width: 33%;
        text-align: center;
        margin-top: 40px;
    }

    .awards {
        padding: 40px 10px;
    }

}


@media screen and (max-width: 576px) {

    /* navBar */
    header nav ul {
        display: none;
    }

    .icons {
        display: none;
    }

    .headerNav {
        justify-content: space-between;
        padding: 7px 25px;
    }

    .headerNav img {
        width: 55px;
    }

    .headerNav ul {
        justify-content: center;
    }

    /* header */
    .input {
        top: 20%;
    }

    .app-wrap {
        bottom: 12%;
    }

    header article div:first-child h1 {
        font-size: 40px;
    }

    header article div:first-child h1 span {
        font-size: 65px;
    }

    /* .headerNav.sticky span {
        background-color: var(--burger);
    } */

    /* BURGER MENU */
    .burger {
        display: block;
        position: relative;
        margin-top: 8px;
        cursor: pointer;

        user-select: none;

        appearance: none;
        border: none;
        outline: none;
        background: none;
    }

    .burger span {
        display: block;
        position: relative;
        width: 35px;
        margin-bottom: 5px;
        height: 4px;
        background-color: var(--white);
        border: 1px solid var(--black);
        border-radius: 6px;
        transition: 0.6s;
        transform-origin: 0 0;
    }


    .mobile-nav {
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        min-height: 100vh;
        width: 70%;
        background-color: var(--primary);
        transition: 0.6s;
        flex-direction: column;
    }

    .mobile-nav a {
        display: block;
        width: 100%;
        margin: auto;
        max-width: 250px;
        padding: 12px 16px;
        text-align: center;
        border-radius: 30px;
        margin-bottom: 36px;
        border: 1px solid var(--white);
        color: var(--white);
        font-weight: 300;
        font-style: italic;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .mobile-nav.is-active {
        left: 30%;
    }

    .mobile-nav a:hover {
        background-color: var(--white);
        color: var(--primary);
        transition: 0.6s;
    }

    .burger.is-active span:nth-child(1) {
        transform: translate(0px, -2px) rotate(45deg);
    }

    .burger.is-active span:nth-child(3) {
        transform: translate(-3px, 3px) rotate(-45deg);
    }

    /* .burger:hover span:nth-child(2) {
        transform: translateX(15px);
        background-color: var(--primary);
        transition: 0.6s;
    } */

    .burger:hover span {
        background-color: var(--accentsDark);
        transition: 0.6s;
    }


    .burger.is-active:hover span {
        background-color: var(--accentsDark);
        transition: 0.6s;
    }

    .burger.is-active span:nth-child(2) {
        transform: translateX(15px);
        opacity: 0;
    }

    

    /* cards */

}